
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
    background-color: #3c3751;
}
.nav-logo{
    font-size: larger;
    color: orange;
    cursor: pointer;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 4px;
    font-weight: 600;
    color: orange;
    cursor: pointer;
    
}
.nav-list li:hover{
    color: rgb(97, 86, 254);
}